.row-item{
	padding-bottom: 3px;
	color: #555;
}
.divider{
	
}
.text-overflow{
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.article-item{
	background-color: #ecf3f9;
}
#content-warp{
	padding-top: 10px;
}
.article-row{
	margin-top: 10px;
	margin-right: 10px;
}
.article-date{
	color: #999;
	font-size: 12px;
}
.article-title a{
	color: #333333;
}
.more a{
	background-color: #4FB1DC;
	height: 24px;
    padding-top: 0px;
  	color: white;
}
.row-more{
	margin-right: 10px;
	margin-top: 10px;
}
.img-tongzhi{
	margin-top: 18px;
}