.img-item{
	padding: 25px 25px;
}
.img-item-name{
	margin-top: 5px;
}
.nav-bar-part{
	padding-left: 2px;
    padding-right: 2px;
}
.nav-bar-act{
	height: 5px;
	background: #E6B849;
}
.nav-bar-void{
	height: 5px;
	background: #DCDCDC;
}
.nav-bar-item{
	height: 5px;
	cursor: pointer;
	margin-top: 10px;
    margin-bottom: 10px;
}
.wodecaiwu{
	height: 44px;
	background: url("/img/kj-wodecaiwu.png") no-repeat center;
}
.wodekaoqin{
	height: 44px;
	background: url("/img/kj-wodekaoqin.png") no-repeat center;
}
.xiezuo{
	height: 44px;
	background: url("/img/kj-xiezuo.png") no-repeat center;
}









/*快捷菜单*/
.todolist-title{
	height: 32px;
	line-height: 32px;
	font-size: 20px;
}
.row-title{
	//background: #eee;
	margin-bottom: 10px;
	margin-top: 22px
}
.img-more{
	max-height: 25px;	
	margin-top: 3px;
	float: right;
	cursor: pointer;
}
.more a{
	background-color: #4FB1DC;
	height: 24px;
    padding-top: 0px;
  	color: white;
  	margin-top: 5px;
}