.item-amount{
	font-size: 30px;
	color: white;
}
.item-title{
	font-size: 12px;
	color: white;
}
.border-left{
	//border-left: solid 1px #a2a2a2;
}
.border-right{
	//border-right: solid 1px #a2a2a2;
}
.title{
	margin-top: 15px;
    margin-bottom: 7px;
}
.item1{
	background: #AAAAAA;
}
.item2{
	background: #EF7151;
}
.item3{
	background: #70BB58;
}
.item4{
	background: #D8494C;
}
.item5{
	background: #4FB1DC;
}
.item6{
	background: #488BC8;
}
.item{
	height: 100px;
    padding-top: 21px;
}
