<h1>Work Bench</h1>

<a target="_blank" href="/finishedlist">已办</a></br>
<a target="_blank" href="/noticelist">通知公告</a></br>
<a target="_blank" href="/wbmenu">菜单</a></br>
<a target="_blank" href="/oa">OA系统</a></br>
<a target="_blank" href="/wbchart">数据图形</a></br>
<a target="_blank" href="/shortcutmenu">快捷菜单</a></br>
<a target="_blank" href="/alarm">告警</a></br>

