<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WorkBench</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    {{#each cssList}}
    <link rel="stylesheet" href="{{this}}" media="screen" title="no title" charset="utf-8">
    {{/each}}
    <script src="/js/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/js/handlebars/handlebars-v4.0.11.js" charset="utf-8"></script>
    <script src="/js/handlebars/helper.js" charset="utf-8"></script>
    {{#each jsList}}
    <script src="{{this}}" charset="utf-8"></script>
    {{/each}}
    <script type="text/javascript">
            try {
                document.domain="127.0.0.1";
            }catch(e){}
    </script>
</head>
<body class="container-fluid">
    {{{body}}}
</body>
</html>
