
{{js '/js/comps/oa.js'}}
{{css '/css/comps/oa.css'}}
<div id="all">
    <div id="first">
        <div class="le">
            <ul class="le_center">
                <li class="le_center_li1"><span>120</span>单位面积</li>
                <li class="le_center_li2"><span>120</span>单位面积</li>
                <li class="le_center_li3"><span>120</span>单位面积</li>
                <li class="le_center_li4"><span>120</span>单位面积</li>
                <li class="le_center_li5"><span>120</span>单位面积</li>
                <li class="le_center_li6"><span>120</span>单位面积</li>
            </ul>
        </div>

        <div class="ri">
            <div class="ri_left">
                <img src="/img/tongzhi.png"/>
            </div>
            <ul class="ri_right">
                <li class="ri_right_li1"><span style="float:left;">经费是你发快递师傅你上课</span><span style="float:right;padding-right:10px">08/7</span></li>
                <li class="ri_right_li2"><span style="float:left;">经费是你发快递师傅你上课</span><span style="float:right;padding-right:10px">08/7</span></li>
                <li class="ri_right_li3"><span style="float:left;">经费是你发快递师傅你上课</span><span style="float:right;padding-right:10px">08/7</span></li>
                <li class="ri_right_li4"><span style="float:left;">经费是你发快递师傅你上课</span><span style="float:right;padding-right:10px">08/7</span></li>
                <li class="ri_right_li5"><span>更多...</span></li>
            </ul>
        </div>
    </div>
    <div class="second1 second2"><span class="se_word" style="float:left;padding-left:28px">数据分析</span> <img src="/img/kuozhan.png" class="se_img" style="float:right;padding-right:22px;"/></div>
    <div class="third">
        <div class="third1 third11"><span class="third1_span1" style="float:left;padding-left:28px">代办事项</span><span class="third1_span2 style="float:left;">更多...</span><img src="/img/kuozhan.png"  class="third1_img" style="float:right;padding-right:22px;"/></div>
        <div class="third2 third22"><span class="third2_span1" style="float:left;padding-left:28px">代办事项</span><span class="third2_span2 style="float:left;">更多...</span> <img src="/img/kuozhan.png" class="third2_img" style="float:right;padding-right:22px;"/></div>
        <div class="third3 third33"><span class="third3_span1" style="float:left;padding-left:28px">代办事项</span><span class="third3_span2 style="float:left;">更多...</span> <img src="/img/kuozhan.png" class="third3_img" style="float:right;padding-right:22px;"/></div>
        </div>
</div>
