{{> head}}
{{js '/js/comps/ova.js'}}
{{css '/css/comps/ova.css'}}
{{js '/js/comps/wbmenu.js'}}
{{css '/css/comps/wbmenu.css'}}
<div id="right">
    <div class="r_title">代办</div>
    <div class="r_button"><button class="r_button_sure">提交</button></div>
</div>
