{{css '/css/comps/header.css'}}
<div class="row head-row">
	<div class="col-xs-2"><img src="/img/logo.png" class="img-responsive img-rounded logo-img"></div>
	<div class="col-xs-10 text-right nav">
		<a class="btn btn-default" href="#" role="button">首页</a>
		<a class="btn btn-default" href="#" role="button">部门门户</a>
		<a class="btn btn-default" target="_blank" href="#" role="button">工作台</a>
		<a class="btn btn-default" href="#" role="button">党建专栏</a>
		<a class="btn btn-default" href="#" role="button">关于我们</a>
	</div>
</div>