{{js '/js/comps/shortcutmenu.js'}}
{{css '/css/comps/shortcutmenu.css'}}
<div class="row row-title">
	<div class="col-xs-6 todolist-title text-right">{{title}}</div>
	<div class="col-xs-6 text-left more">
	</div>
</div>
<div class="row shortcut-group" data-ind="1">
	<div class="col-xs-6 img-item">
		<div class="wodecaiwu"></div>
		<div class="text-center img-item-name">我的财务</div>
	</div>
	<div class="col-xs-6 img-item">
		<div class="wodekaoqin"></div>
		<div class="text-center img-item-name">我的考勤</div>
	</div>
</div>

<div class="row shortcut-group" data-ind="1">
	<div class="col-xs-6 img-item">
		<div class="xiezuo"></div>
		<div class="text-center img-item-name">协作提醒</div>
	</div>
</div>
