{{js '/js/comps/wbcharttitle.js'}}
{{css '/css/comps/wbcharttitle.css'}}
<div class="row title">
	<div class="col-xs-4">
		<div class="item1 item">
			<div class="text-center item-amount item-amount1">101</div>
			<div class="text-center item-title item-title1">单位面积吞吐量</div>
		</div>
	</div>
	<div class="col-xs-4 border-left">
		<div class="item2 item">
			<div class="text-center item-amount">191</div>
			<div class="text-center item-title">单位停机坪架次</div>
		</div>
	</div>
	<div class="col-xs-4 border-left">
		<div class="item3 item">
			<div class="text-center item-amount">201</div>
			<div class="text-center item-title">单位跑道架次</div>
		</div>
	</div>
</div>
<div class="row title">
	<div class="col-xs-4 border-left">
		<div class="item4 item">
			<div class="text-center item-amount">301</div>
			<div class="text-center item-title">中转时长-国内</div>
		</div>
	</div>
	<div class="col-xs-4 border-left">
		<div class="item5 item">
			<div class="text-center item-amount">901</div>
			<div class="text-center item-title">中转时长-国际</div>
		</div>
	</div>
	<div class="col-xs-4 border-left">
		<div class="item6 item">
			<div class="text-center item-amount">203</div>
			<div class="text-center item-title">机场进出港数量</div>
		</div>
	</div>
</div>