{{css '/css/comps/wbchart.css'}}
<div class="row center-block chart-row">
	<div id="main" class="chart"></div>
</div>
<script src="/js/echarts/echarts.js" charset="utf-8"></script>
<script src="/js/comps/wbchart.js" charset="utf-8"></script>